
$coment-bg: $white;

.comment-section {
   // padding: 30px 0;
   // background: $coment-bg;
    @include styleSection(30px, 30px, $coment-bg);
    
    .comment-list{
        list-style: none;
        padding:0;
        
        .comment-item{
            display: flex;
        .comment-img{
            flex:0 0 50px;
        img{
            @include radius(50%);
        }//img-end 
    }//coment-img-end
    .comment-body{
        padding-left: 15px;
    }
    }//comment-item-end
    }//coment-list-end
    }//comment-section-end   

@media(min-width:768px){
    .comment-section{
    .comment-list{
        .comment-item{
            .comment-img{
                flex: 0 0 90px;
            }
        } //comment-item-end
    } //comment-list-end
} //comment-section-end
}
