
$footer-bg:$purple;
$footer-color:$white;
$footer-font: $josefin;
$font-size-footer:$font-bold;
$footer-link-hover:$green;
footer {
    padding: 30px 0;
    background-color: $footer-bg;
    ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 30px;
       
        li{
            a{
                display: block;
                padding: 5px 0px;
                color: $footer-color; 
                text-align: center;
                font-family: $footer-font;
                font-weight: $font-size-footer;
                font-size: 1.8rem;
                &:hover,
                &.active{
                    color: lighten(complement($footer-bg), 15%);
                }
            }
        }
    }
    .copyright{
        text-align: center;
        color:$footer-color;
    }
}
@media(min-width:768px){
    footer{
            ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                a{
                    padding: 5px 20px;
                }
            }
            }
    }
}


    
